 p {
     font-weight: 700;
     font-family: var(--secondary-font);
     font-size: 18px
 }

 .callAction-title,
 .about-title {
     color: var(--primary-yellow)
 }

 .callAction-subtitle {
     color: white;
 }

 .callAction-description {
     color: white;
     width: 220px;
 }