footer {
    display: flex;
    justify-content: space-around;
    padding: 70px 200px 70px 200px;
    font-family: var(--secondary-font-fam);
    color: var(--primary-green);
    font-size: 16px;
    background-color: var(--secondary-gray);
    border-top: 3px solid var(--primary-green);
}

footer>img {
    padding-right: 40px;
}

section>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #3333;
}

footer ul li {
    line-height: 26px;
    font-weight: 500;
}

footer ul li a:visited {
    color: var(--secondary-koral);
}

footer section {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}


@media only screen and (max-width: 767px) {
    footer {
        flex-direction: column;
        gap: 10px;
        padding: 30px 1vw 30px 1vw;
        align-items: center;
        width: 100vw;
    }

    footer img {
        padding: 0px;
    }

    footer section {
        align-items: center;
        width: 100%;
    }

    footer ul li {
        text-align: center;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1064px) {
    footer {
        padding: 30px 10vw 30px 10vw;
    }
}