header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 15px;
}

header img {
    width: 230px;
    height: 70px;
}

header ul {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
}

header ul li {
    font-size: 18px;
    font-weight: 700;
}

@media only screen and (max-width: 767px) {

    header {
        flex-direction: column;
        justify-content: center;
        padding-right: 1vw;
        padding-left: 1vw;
    }

    header ul {
        gap: 10px;
        margin-top: 10px;
    }

    header ul li {
        font-size: 0.9rem;
        text-align: center;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1064px) {

    header {
        padding-right: 2.5vw;
        padding-left: 2.5vw;
    }

    header ul li {
        font-size: 1.2rem;
    }

    header ul {
        gap: 10px;
        margin: 0px;
    }

}