header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 15px;
}

header img {
    width: 230px;
    height: 70px;
}

header ul {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
}

header ul li {
    font-size: 18px;
    font-weight: 700;
}

.menu-icon {
    display: none;
}


@media only screen and (max-width: 767px) {


    header {
        justify-content: baseline;
        padding-right: 0vw;
        padding-left: 2vw;
        margin: 0 auto;
    }

    .nav-elements {
        position: absolute;
        width: 0;
        right: 0;
        top: 90px;
        background-color: white;
        width: 0px;
        height: calc(100vh - 90px);
        overflow: hidden;
        transition: all 0.3s ease-out;
        display: flex;
        flex-direction: column;
    }

    .nav-elements.active {
        width: 270px;
        padding-left: 20px;
        padding-top: 20px;
    }

    .nav-elements ul li {
        text-align: left;
        font-size: 20px;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        width: 70px;
        padding-right: 100px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {

    header {
        flex-direction: column;
        padding-right: 0px;
        padding-left: 0px;
        gap: 10px;
    }

    header ul li {
        font-size: 1.2rem;
    }

    header ul {
        gap: 30px;
        margin: 0px;
    }
}