@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&display=swap');

:root {
  --primary-green: #495E57;
  --primary-yellow: #F4CE14;
  --secondary-gray: #EDEFEE;
  --secondary-koral: #EE9972;
  --secondary-font-fam: Karla, sans-serif;
  --primary-font: 'Markazi Text', serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 25px 0px 70px 0px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 64px;
  margin: 0;
  line-height: 0.5;
}

h2 {
  font-family: var(--primary-font);
  font-size: 40px;
  font-weight: 400;
  margin: 0;
}

a {
  font-family: var(--secondary-font-fam);
  color: var(--primary-green);
  text-decoration: none;
}

a:visited {
  color: var(--primary-yellow);
}

img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}

button {
  background-color: var(--primary-yellow);
  border-radius: 15px;
  width: 180px;
  height: 40px;
  text-align: center;
  font-family: var(--secondary-font-fam);
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 762px) {

  #root {
    align-items: center;
    justify-content: center;
    padding: 25px 0px 15px 0px;
  }
}