@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap');

:root {
  --primary-green: #495E57;
  --primary-yellow: #F4CE14;
  --secondary-font-fam: Karla, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  padding: 25px 0px 70px 0px;
  width: calc(100vw - 400px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

a {
  font-family: var(--secondary-font-fam);
  color: var(--primary-green);
  text-decoration: none;
}

a:visited {
  color: var(--primary-yellow);
}

@media only screen and (max-width: 762px) {

  #root {
    width: 98vw;
    align-items: center;
    justify-content: center;
    padding: 25px 0px 15px 0px;
  }
}

@media only screen and (min-width: 763px) and (max-width: 1064px) {

  #root {
    width: 95vw;
  }

}