body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: grid;
  grid-template-rows: 120px 2fr 400px;
  padding: 20px 60px;
}

header {
  display: grid;
  grid-template-rows: 1fr auto;
}

header ul {
  display: flex;
  gap: 10px;
  list-style: none;
}